<div class="container p-5 my-5 text-center text-dark rounded">
    <h1 class="display-4 text-center">Welcome to my login page!</h1>
    <h5 class="lead text-center mt-3 mb-5">Click on the navigation bar above or on the buttons below to Sign Up or Sign In</h5>
    <div class="d-flex justify-content-center">
        <button class="btn btn-dark btn-lg p-2.5 mr-4" routerLink='/sign-in'>Sign In</button>
        <button class="btn btn-dark btn-lg p-2.5 ml-4" routerLink='/sign-up'>Sign Up</button>
    </div>
    <!-- branch test -->
</div>